<template>
	<div id="app">
		<div class="container-fluid">
			<div class="row justify-content-end ml-2 mr-2 mb-3 pt-5">
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Section</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.section_id" @change="examsecChange($event)" id="section-select">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 card mb-5">
        <div class="row justify-content-end">
					<div class="col-5 col-md-4 col-lg-3">
						<input type="text" v-model="search" id="searchbox" class="form-control mb-2" placeholder="Search Student"/>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped" id="dashboard">
						<caption>Overall Summary</caption>
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Full Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Attendance</th>
								<th scope="col">Exam</th>
								<th scope="col">Aptitude</th>
                <th scope="col">Rating</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(e, i) in filterOverallSummary" :key="i">
								<th scope="row">{{e.id}}</th>
								<td>{{e.last_name}}, {{e.first_name}} {{e.middle_name[0]}}.</td>
								<td>{{e.gender}}</td>
                <td>{{setAttendanceRating(e.presentdays, e.totalmeetings).toFixed(2)}}%</td>
                <td>{{setRating(e.pretest, e.pretesttotal, e.midterm, e.midtermtotal, e.finals, e.finalstotal).toFixed(2)}}%</td>
                <td>{{setAptitudeRating(e.merit.merit).toFixed(2)}}%</td>
                <td>{{calcRate(e.id, setAptitudeRating(e.merit.merit), setRating(e.pretest, e.pretesttotal, e.midterm, e.midtermtotal, e.finals, e.finalstotal).toFixed(2), setAttendanceRating(e.presentdays, e.totalmeetings).toFixed(2))}}%</td>
              </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	async mounted(){
		document.title = "Overall Summary"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.data = this.default_data
    setTimeout(()=> {
      this.getOverAllSummary(this.data)
    }, 250)
    setTimeout(() => {
      this.getSections(this.data);
    }, 350)
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			data: {
				semester_id: '',
				school_year_id: '',
				section_id: '',
			},
      summary: [],
			isLoading: false,

		}
	},
	computed: {
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapState('overallsummary', ['overallsummary']),
		...mapGetters({
				default_data: 'sem/getDefaults'
		}),

		filterOverallSummary() {
      return this.overallsummary.filter((overallsummary) => {
        return (
          overallsummary.last_name.match(this.search) ||
          overallsummary.first_name.match(this.search) ||
          overallsummary.middle_name.match(this.search) ||
					overallsummary.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('student', ['getSections']),
		...mapActions('overallsummary', ['getOverAllSummary']),
  
		examsecChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getOverAllSummary(this.data)

		},
		semyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
      if(this.data.section_id != ''){
        this.getOverAllSummary(this.data)
      }
			this.getSections(this.data);
		},
    setRating(pre, pretotal, mid, midtotal, final, finaltotal){
      let rating = 0;
      if(pretotal == 0){
        rating = ( ((( mid / midtotal ) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }
			else if(pretotal == 0 && midtotal == 0){
				rating = ( ((( final / finaltotal)* 100)) / 3) * .40
			}
			else if(midtotal == 0 && finaltotal == 0){
				rating = ( (((pre / pretotal) * 100)) / 3) * .40
			}
      else if(midtotal == 0){
        rating = ( (((pre / pretotal) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }
      else if(finaltotal == 0){
        rating = ( (((pre / pretotal) * 100) + (( mid / midtotal)* 100)) / 3) * .40
      }
      else {
        rating = ( (((pre / pretotal) * 100) + (( mid / midtotal ) * 100) + (( final / finaltotal)* 100)) / 3) * .40
      }

      return rating
    },
    setAttendanceRating(present, total){
      let rating = 0;

			if(present == 0)
        return rating;

			
			rating = (( present / total ) * 100) * .30
			return rating;
		},
    setAptitudeRating(merit){
      if(isNaN(merit)){
        merit = 0;
      }

      let mr = merit * .30;
			return mr
		},
    calcRate(id, apt, exam, att){
      let initial = [apt, exam, att]

      for(let i = 0; i < initial.length; i++){
        if(isNaN(initial[i])){
          initial.splice(i, 1); 
        }
      }

      let total = 0

      for (let t = 0; t < initial.length; t++){
        total += parseFloat(initial[t]);
      }

      let record = {
        student_id: id,
        aptitude_rate: apt,
        exam_rate: exam,
        attendance_rate: att,
      }


      return total
    },
    finalGrade(total){

    },
	}
}
</script>
