<template>
	<div id="app">
		<div class="container-fluid">
      <h4 class="pt-5 ml-2 font-weight-bold text-primary">Examination Record</h4>
			<p class="ml-2 text-muted">Here are the list of examinations of your students.</p>
			<div class="row justify-content-end ml-2 mr-2 mb-3 mt-5">
				<router-link to="/exam/summary" class="btn btn-summary btn-primary" id="examsummary">Summary</router-link>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Exam Type</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.examination_type_id" @change="examsecChange($event)" id="section-select">
							<option class="mr-3" v-for="(exam, i) in examtypes" :key="i" :value="exam.id">{{exam.examination_type}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Section</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.section_id" @change="examsecChange($event)" id="section-select">
							<option class="mr-3" v-for="(sec, i) in section" :key="i" :value="sec.id">{{sec.section}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">Semester</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.semester_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(sem, i) in semester" :key="i" :value="sem.id">{{sem.semester}}</option>
						</select>
          </div>
				</div>
				<div class="col-3 col-md-3 col-lg-2">
					<p class="">School Year</p>
          <div class="input-group">
						<select class="custom-select" v-model="data.school_year_id" @change="semyrChange($event)" id="section-select">
							<option class="mr-3" v-for="(schlyr, i) in schoolyr" :key="i" :value="schlyr.id">{{schlyr.school_year}}</option>
						</select>
          </div>
				</div>
			</div>
			<div class="row ml-2 mr-2 p-4 card">
				<div class="table-responsive">
					<table class="table table-striped">
						<caption>Examination Records</caption>
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Full Name</th>
								<th scope="col">Gender</th>
								<th scope="col">Score</th>
								<th scope="col">Total</th>
								<th scope="col">Rating</th>
								<th scope="col">Set</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(e, i) in examrecord" :key="i">
								<th scope="row">{{e.id}}</th>
								<td>{{e.last_name}}, {{e.first_name}} {{e.middle_name[0]}}.</td>
								<td>{{e.gender}}</td>
								<td>{{e.score}}</td>
								<td>{{e.total}}</td>
								<td>{{setRating(e.score, e.total)}}%</td>
								<td><button class="btn btn-sm btn-primary mr-2" v-on:click.prevent="showExamination(e)">Score</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!--- UPDATE SCORE MODAL --->
		<b-modal id="updateScoreModal" size="sm" centered title="Set Score">
			<p>Please enter a score</p>
			<input type="text" v-model="score" class="form-control">
			<p class="mt-3">Please enter a total score</p>
			<input type="text" v-model="total" class="form-control">
			<template #modal-footer="{ cancel }">
				<b-button size="sm" variant="info" @click="cancel()"> Cancel </b-button>
				<b-button size="sm" variant="success" v-on:click="updateScore">
          Set Score
        </b-button>
			</template>
    </b-modal>
	</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	async mounted(){
		document.title = "Attendance Monitoring"
		this.$store.dispatch('auth/checkUser');
		this.$store.dispatch('sem/getSchoolYear');
		this.$store.dispatch('sem/getSemester');
		this.$store.dispatch('exam/getExaminationTypes');
		this.data = this.default_data
		this.getSections(this.data);
		this.getExaminationRecord(this.data)
		this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })

	},
	data(){
		return {
			modalId: '',
			search: '',
			data: {
				semester_id: '',
				school_year_id: '',
				section_id: '',
				examination_type_id: '',
			},
			id: '',
			isLoading: false,
			score: '',
			student: '',
			total: '',
		}
	},
	computed: {
		...mapState('student', ['section']),
		...mapState('sem', ['semester', 'schoolyr']),
		...mapState('exam', ['examtypes', 'examrecord']),
		...mapGetters({
			default_data: 'sem/getDefaults'
		}),
		filterAttendance() {
      return this.attendance.filter((attendance) => {
        return (
          attendance.last_name.match(this.search) ||
          attendance.first_name.match(this.search) ||
          attendance.middle_name.match(this.search) ||
					attendance.id.toString().match(this.search)
        );
      });
    },
	},
	methods: {
		...mapActions('attendance', ['getAttendance', 'updateAttendance']),
		...mapActions('student', ['getSections']),
		...mapActions('exam', ['getExaminationRecord', 'updateExaminationScore']),
	
		examsecChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getExaminationRecord(this.data)
		},
		semyrChange(event){
			this.$store.commit('sem/SET_DEFAULTS', this.data)
			this.getExaminationRecord(this.data)
			this.getSections(this.data);
		},
		showExamination(e){
			if(this.data.school_year_id == '')
				return this.$toast.error('Please select a valid school year');
			if(this.data.semester_id == '')
				return this.$toast.error('Please select a valid semester');
			if(this.data.section_id == '')
				return this.$toast.error('Please select a valid section');
			if(this.data.examination_type_id == '')
				return this.$toast.error('Please select an examination type');

			this.student = e;
			this.score = e.score;
			this.total = e.total;
			this.$bvModal.show('updateScoreModal');
		},
		async updateScore(){
			if(this.score == '')
				return this.$toast.error('Score is required');
			if(this.total == '')
				return this.$toast.error('Total score is required');
			if(this.score > this.total)
				return this.$toast.error('Score exceed from the total value');
				
			let examdata = {
				semester_id: this.data.semester_id,
				school_year_id:  this.data.school_year_id,
				section_id:  this.data.section_id,
				examination_type_id:  this.data.examination_type_id,
				score: this.score,
				student_id: this.student.id,
				total: this.total,
			}

			const res = await this.updateExaminationScore(examdata)
			if(res.status == 200){
				this.$bvModal.hide(this.modalId);
				this.$toast.success('Score updated');
				this.getExaminationRecord(this.data)
			}
		},
		setRating(score, total){
			return score / total * 100;
		}
		
	}
}
</script>
